@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&family=Fraunces:opsz,wght@9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
:root{
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --blue: hsl(212, 21%, 14%);
    --grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}
* p{
    font-size: 0.875rem;
    margin-bottom: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cream);
}
.pic{
    border-radius: 20px 0 0 20px;
    overflow: hidden;
    width: 301px;
}
.image{
    width: 100%;
    height: 100%;
}
.des{
    background-color: var(--White);
    border-radius: 0 20px 20px 0;
    width: 301px;
    height: 455px;
    padding-left: 30px;
}
.perfume{
    color: var(--grayish-blue);
    font-family: Montserrat;
    font-size: 700;
    margin-top: 30px;
    margin-bottom: 0;
}
.name{
    font-family: Fraunces;
    padding-right:75px;
    margin-top: 17px;
    line-height: 1;
}
h1{
    margin: 0px;
}
.discription{
    color: var(--grayish-blue);
    font-family: Montserrat;
    padding-right: 75px;
    line-height: 25px;
}
.discription p{
    margin-top: 20px;
}
.price {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    height: 50px;
}

.discount {
    color: var(--dark-cyan);
}

.discount p {
    font-family:fraunces ;
    font-size: 30px;
    margin: 0;
    font-weight: 800;
}
.original {
    padding: 0;
    margin-bottom: 15px;
    margin-left: 10px;
    position: relative;
}
.original::before {
    content: '';
    position: absolute;
    top: 70%;
    width: 50px;
    height: 1px;
    background-color: var(--grayish-blue);
}   
.add-to-cart-btn {
    width: 230px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: var(--dark-cyan); 
    color: white; 
    border: none; 
    border-radius: 7px;
    cursor: pointer;
}
.add-to-cart-btn p{
    padding-bottom: 12px;
    padding-left: 10px;
}
.add-to-cart-btn:hover{
    background-color: hsl(158, 36%, 17%);
}
@media (max-width: 420px) {
* p{
    font-size: 11px;
    margin-bottom: 0;
    }
body{
    flex-direction:column;
}
.pic{
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    height: 200px;
}
.image{
    position: relative;
    bottom: 85px;
    height: 375px;
    width: 300px;
}
.des{
    border-radius: 0 0 10px 10px ;
    padding: 0;
    height: 315px;
}
.perfume{
    margin-top: 20px;
    margin-left: 20px;
}
.name{
    padding:0;
    margin-top: 10px;
    line-height: 1;
    margin-left: 20px;
}
h1{
    margin: 0px;
    font-size: 27px; ;
}
.discription{
    line-height: 20px;
    padding: 0 50px 0 0;
    margin-left: 20px;
}
.discription p{
    margin-top: 10px;
}
.price {
    margin-top: 10px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 20px;
}

.discount {
    margin-right: 20px;
}
.original {
    padding: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
}
.original::before {
    width: 40px;
}   
.add-to-cart-btn {
    margin: 10px 0 0 20px;
    width: 250px;
}
}
